@charset "UTF-8";

.form-wrapper {
	text-align: center;
}

.form-wrapper input {
	
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid black;
	
		

}

.registration-input-row-header {
	font-size: 20px;
	font-weight: bold;
}